---
- name: create_unattended_installation_json
  ansible.builtin.template:
    src: unattended_install.json.j2
    dest: /root/unattended_install.json
    mode: '0600'
  register: create_unattended_installation_json
  become: true

- name: Collect list of tables from existing {{ ir_db_name }}
  ansible.builtin.command: 'psql -d {{ ir_db_name }} -c "\dt"'
  changed_when: false
  register: database_tables
  become_user: postgres
  become: true

- name: Install iRODS, if {{ ir_db_name }} is empty (no tables exist)
  ansible.builtin.command: sudo python /var/lib/irods/scripts/setup_irods.py --json_configuration_file=/root/unattended_install.json
  when: '"No relations found." in database_tables.stdout'
  run_once: true
  async: 120
  poll: 1
  become_user: '{{ ir_service_account }}'
  become: true
  notify: irodsctl_restart

- name: Edit /etc/irods/core.re to enforce the use of the certificates
  become: true
  ansible.builtin.lineinfile:
    name: /etc/irods/core.re
    search_string: 'acPreConnect(*OUT) { *OUT="CS_NEG_DONT_CARE"; }'
    line: 'acPreConnect(*OUT) { *OUT="CS_NEG_REQUIRE"; }'

- name: Edit /etc/irods/core.re to set number of threads to 4
  become: true
  ansible.builtin.lineinfile:
    name: /etc/irods/core.re
    search_string: 'acSetNumThreads {msiSetNumThreads("default","default","default"); }'
    line: 'acSetNumThreads {msiSetNumThreads("default","4","default"); }'

- name: Edit /etc/irods/core.re to set default resource to {{ ir_default_res }}
  ansible.builtin.lineinfile:
    name: /etc/irods/core.re
    search_string: 'acSetRescSchemeForCreate {msiSetDefaultResc("demoResc","null"); }'
    line: 'acSetRescSchemeForCreate {msiSetDefaultResc("{{ ir_default_res }}","null"); }'
  become: true

- name: Edit /etc/irods/core.re to set default replication resource to {{ ir_default_res }}
  ansible.builtin.lineinfile:
    name: /etc/irods/core.re
    search_string: 'acSetRescSchemeForRepl {msiSetDefaultResc("demoResc","null"); }'
    line: 'acSetRescSchemeForRepl {msiSetDefaultResc("{{ ir_default_res }}","null"); }'
  become: true

- name: Increase systcl limits to allow longer transfers
  ansible.builtin.copy:
    src: '{{ role_path }}/files/irods_fix.conf'
    dest: /etc/sysctl.d/
    mode: 0644
  become: true

- name: Temporary bugfix of the faulty service file (to be removed in newer versions)
  ansible.builtin.lineinfile:
    name: /etc/init.d/irods
    search_string: 'rm /var/lock/subsys/irods'
    line: 'rm -f /var/lock/subsys/irods'
  become: true

- name: Temporary bugfix of the irods python script for the remote psql over ssl
  ansible.builtin.lineinfile:
    name: /etc/init.d/irods
    search_string: 'rm /var/lock/subsys/irods'
    line: 'rm -f /var/lock/subsys/irods'
  become: true

- name: Fix the s3 authentication by creating dummy s3auth file
  ansible.builtin.copy:
    content: |
      foo
      bar
    dest: /etc/irods/.s3auth
    force: true
    mode: 0644
    owner: '{{ ir_service_account }}'
    group: '{{ ir_service_account }}'
  become_user: '{{ ir_service_account }}'
  become: true
  notify: irodsctl_restart

- name: Copy tiering script into {{ ir_service_account }} home folder
  ansible.builtin.copy:
    src: '{{ role_path }}/files/tiering.sh'
    dest: '/tmp/'
    mode: 0755
    owner: '{{ ir_service_account }}'
    group: '{{ ir_service_account }}'
  become_user: '{{ ir_service_account }}'
  become: true

- name: Force all services to restart, before we start using iRODS imeta commands
  ansible.builtin.meta: flush_handlers

...
