#
# Include an explicit rule for root. 
# Otherwise, commands with the setuid bit set will inherit the original user's GID
# and end up in the @everyone group.
#
root		cpuset,cpu,memory	/
@admin		cpuset,cpu,memory	/
{% for regular_group in regular_groups | default([]) | sort %}
@{{ regular_group }}		cpuset,cpu,memory		regular_users/
{% endfor %}
