*.DS_Store
*.project
*.settings
*.md.html
*.vagrant
*.pydevproject
*.pyc
*.retry
*.swp
.vault*
documentation/.~lock.UMCG Research IT HPC cluster technical design.docx#
openstacksdk.*
*-openrc.sh
promtools/results/*
roles/hpc-cloud
roles/HPCplaybooks
roles/HPCplaybooks/*
ssh-host-ca/umcg-hpc-ca
ssh-host-ca/*production*
