*.DS_Store
*.project
*.settings
*.md.html
*.vagrant
*.pydevproject
*.retry
*.swp
.vault_pass.txt
ansible.cfg
documentation/.~lock.UMCG Research IT HPC cluster technical design.docx#
promtools/results/*
roles/hpc-cloud
roles/HPCplaybooks
roles/HPCplaybooks/*
ssh-host-ca
