# Register a machine to our ldap
---
- name: Install yum dependencies
  yum:
    state: latest
    update_cache: yes
    name:
      - openldap-clients
      - nss-pam-ldapd
      - openssh-ldap
      - pam_script
      - oddjob-mkhomedir
  notify:
    - restart_nslcd
    - restart_oddjobd
    - restart_sshd

- name: Deploy nslcd.conf
  template:
    src: nslcd.conf
    dest: /etc/nslcd.conf
    owner: root
    group: root
    mode: '0600'
  notify:
    - restart_nslcd

- name: Deploy ldap.conf
  template:
    src: ldap.conf
    dest: /etc/ssh/ldap.conf
    owner: root
    group: root
    mode: '0644'
  notify:
    - restart_nslcd

- name: Deploy nsswitch.conf
  copy:
    src: nsswitch.conf
    dest: /etc/nsswitch.conf
    owner: root
    group: root
    mode: '0644'
  notify:
    - restart_nslcd

- name: Signal that sshd should use ldap.
  set_fact:
    ssh_use_ldap: true

- name: Deploy sshd config.
  template:
    src: templates/sshd_config
    dest: /etc/ssh/sshd_config
    validate: '/usr/sbin/sshd -T -f %s'
  notify: restart_sshd

- name: Check if /etc/ssh/moduli contains weak (small) values.
  shell: awk '$5 < {{ sshd_moduli_minimum }}' /etc/ssh/moduli
  register: sshd_register_moduli
  changed_when: false
  check_mode: no

- name: Remove weak (small) values from /etc/ssh/moduli.
  shell: awk '$5 >= {{ sshd_moduli_minimum }}' /etc/ssh/moduli > /etc/ssh/moduli.new ;
         [ -r /etc/ssh/moduli.new -a -s /etc/ssh/moduli.new ] && mv /etc/ssh/moduli.new /etc/ssh/moduli || true
  when: sshd_register_moduli.stdout
  notify: restart_sshd

- name: Deploy custom ssh-ldap-wrapper.
  copy:
    src: ssh-ldap-wrapper
    dest: /usr/libexec/openssh/ssh-ldap-wrapper
    owner: root
    group: root
    mode: '0755'

- name: Enable services.
  systemd:
    name: "{{ item }}"
    enabled: yes
    state: started
  with_items:
    - nslcd
    - dbus.service
    - oddjobd.service
  notify:
    - restart_nslcd
    - restart_oddjobd

- meta: flush_handlers
...
