---
- import_playbook: pre_deploy_checks.yml

- name: '###==-> Basic roles for all cluster machines part 2. <-==###'
  hosts:
    - cluster
  roles:
    - role: ldap
      when:
        - use_ldap | default(true, true) | bool
        - use_sssd | default(false, true) | bool
    - role: sssd
      when:
        - use_ldap | default(true, true) | bool
        - use_sssd | default(true, true) | bool
    - sshd
    - regular_users
    - lustre_client
    - nfs_client
    - shared_storage
...
