#jinja2: trim_blocks:True, lstrip_blocks:True
#!/bin/bash

set -ueo pipefail

_main="{{ main_repo_path }}"
cd ${_main}

{% raw %}
_prompt=false
OPTSTRING=":s:c:d:r:v:p"
while getopts ${OPTSTRING} opt; do
  case ${opt} in
    s) _stack=${OPTARG} && echo "this stack: ${_stack}" ;;
    c) _copy=${OPTARG} && echo "copy from: ${_copy}" ;;
    d) _distroarg=${OPTARG} && echo "distribution: ${_distroarg}" ;;
    r) _repoarg=${OPTARG} && echo "repository: ${_repoarg}" ;;
    v) _versionarg=${OPTARG} && echo "version: ${_versionarg}" ;;
    p) _prompt=true ;;
    *)
       echo "Error, at least [stack_prefix] is missing. Use"
       echo "  ${0} [-c stack] -s stack [-o string] [-r string|ALL] [-v string] [-p]"
       echo " where"
       echo "   -s string       is a name of the stack abbrevation, e.g. 'nb'"
       echo "   -d string       is distribution, e.g. 'rocky9'"
       echo "   -r string|ALL   is name of specific repository, e.g. 'ryslog7' or 'ALL' for all repositories"
       echo "   -v string       in case of specific repository, this is a specific version to be used for a stack"
       echo "                   Note: if no version is selected, then the last one will be used!"
       echo "   -c string       copy from this stack settings, e.g. '-c hc -s nb' would copy from hc to nb"
       echo ""
       cd ${_main}/2deploy/
       echo "Available stacks are: "
       find . -mindepth 1 -maxdepth 1 -type d -printf ' %P\n'
       cd ${_main}
       exit 1
       ;;
  esac
done

if [[ -z "${_stack:-}" ]]; then
   echo "Stack missing, exiting ..." && exit 1
fi

if [[ -n "${_stack:-}" && -n "${_copy:-}" ]]; then
   if test -d "2deploy/${_copy}"; then
      test -d "2deploy/${_stack}" && rm -rf 2deploy/${_stack:-error}
      cp -rf "2deploy/${_copy}" "2deploy/${_stack}"
      echo "Done - stack copied"
      exit 0
   else
      echo "Stack ${_copy} does not exist, cannot copy from ... exiting"
      exit 1
   fi
fi

if [[ -n "${_distroarg:-}" ]]; then
   ! test -d "${_main}/1versions/${_distroarg}" && echo "Error, wrong distribution" && exit
   if [[ -z "${_repoarg:-}" || -z "${_stack:-}" ]] && [[ ! ${_prompt} ]]; then
      echo "Stack or repository missing" && exit 1
   fi
fi
_distroselect="${_distroarg:-error}"

if [[ -n "${_repoarg:-}" ]]; then
   if [[ -z "${_distroarg:-}" || -z "${_stack:-}" ]]; then
      echo "Stack or distribution missing" && exit 1
   fi
   if [[ "${_repoarg:-}" == "ALL" ]]; then
      _reposelect="$(find ${_main}/1versions/${_distroarg}/ -mindepth 1 -maxdepth 1 -type d -printf ' %P\n' 2>/dev/null)" || \
      { echo "Error, could not find versions in the ${_main}/1versions/${_distroarg}"; exit; }
   else # check that selected repository exists
      if ! test -d "${_main}/1versions/${_distroarg}/${_repoarg}"; then
         echo "Error, repository does not exist for this distribution"
         exit
      else
	 _reposelect="${_repoarg}"
      fi
   fi
fi

if [[ -n "${_versionselarg:-}" ]]; then
   if [[ -z "${_stack:-}" || -z "${_distroarg:-}" || -z "${_reposelect:-}" ]]; then
      echo "Stack, distribution or repository missing" && exit 1
   fi
fi

for _dir in ${_main} ${_main}/1versions ${_main}/2deploy; do
   test -d ${_dir} || { echo "creating ${_dir}" && mkdir "${_dir}"; }
done

if ! test -d ${_main}/2deploy/${_stack}; then
   echo "Warning: new stack, not part of existing ones."
   if ${_prompt}; then
      read -n1 -p "> you want to ADD this stack as NEW stack? [enter]: " _confirm
   fi
   if ! ${_prompt} || [[ ${_prompt} && "${_confirm}" == "" ]]; then
      unset _confirm
      mkdir "${_main}/2deploy/${_stack}"
   else
      exit
   fi
   echo ""
fi

if "${_prompt}"; then
   echo "________ OS distributions available __________"
   while true; do
      test -d "${_main}/1versions/${_distroselect}" 2>/dev/null && break
      find "${_main}/1versions/" -mindepth 1 -maxdepth 1 -type d -printf '    %P\n'
      read -p "> select: " _distroselect
      echo ""
      echo "  You picked:   ${_distroselect}"
      test -d "${_main}/1versions/${_distroselect}" || echo "Wrong distribution, try again!"
   done

   echo "________ Select repository from the ${_distroselect} __________"
   _reposelect="${_repoarg:-error}"
   while true ; do
      test -d "${_main}/1versions/${_distroselect}/${_reposelect}" 2>/dev/null && break
      find "${_main}/1versions/${_distroselect}" -mindepth 1 -maxdepth 1 -type d -printf '    %P\n'
      read -p "> select: " _reposelect
      echo "  You picked:   ${_reposelect}"
      test -d "${_main}/1versions/${_distroselect}/${_reposelect}" || echo "Wrong repository, try again!"
      echo ""
   done

   echo "________ Select versions from the ${_distroselect}/${_reposelect} ____________"
   _versionselect="error"
   while true; do
      test -d "${_versionselect}" 2>/dev/null && break
      find "${_main}/1versions/${_distroselect}/${_reposelect}" -mindepth 1 -maxdepth 1 -type d -printf '    %P\n'
      read -p "> select: " _versionselect
      echo "  You picked:   ${_versionselect}"
      test -d "${_main}/1versions/${_distroselect}/${_reposelect}/${_versionselect}" || echo "Wrong version, try again!"
      _versionselect="1versions/${_distroselect}/${_reposelect}/${_versionselect}"
      echo ""
   done
fi



for _each_repo in ${_reposelect:-error}; do
   cd "${_main}"
   test -d "1versions/${_distroselect}/${_each_repo}" || { echo "Error, no repository found at 1versions/${_distroselect}/${_each_repo}"; exit; }
   if [[ -z "${_versionarg:-}" ]]; then        # no version was PROVIDED, selecting LATEST version
      _versionselect="$(find 1versions/${_distroselect}/${_each_repo} -maxdepth 1 -mindepth 1 -type d -printf '%T@ %p\n' | sort -nr | head -1 | cut -d' ' -f2-)" || \
        { echo "Error finding latest version."; exit; }
   fi

   if [[ -z "${_versionselect:-}" ]]; then     # no version was FOUND
      echo "No version was found in the 1versions/${_distroselect}/${_each_repo}."; exit;
   else
      echo "  picked version ${_versionselect}"
   fi

   if ! test -d "${_versionselect}"; then
      echo "Error, ${_versionselect} does not exist!"
      exit
   else
      if "${_prompt}"; then
         echo "---------- Confirm ---------"
         echo " The link will be created between"
         echo "   2deploy/${_stack}/${_each_repo}  ->  ${_versionselect}"
         read -p "> press [enter] to confirm"
      fi
      ln -f -s "../../${_versionselect}" "2deploy/${_stack}/${_each_repo}"
      echo ""
   fi
done

if ! test -e "2deploy/all"; then
   echo "Creating missing link to all repositories ..."
   ln -s "../1versions/" "2deploy/all"
fi


echo "done"
{% endraw %}
