[Unit]
Description=System Logging Service
;Requires=syslog.socket
Wants=network.target network-online.target
After=network.target network-online.target
Documentation=man:rsyslogd(8)
Documentation=https://www.rsyslog.com/doc/

[Service]
; sometimes it takes a long time for the service to cleanly exit
; but default value of 90 seconds seems a bit too low for how the
; service actually behaved
TimeoutSec=120
; increase the limit of the restart attempts from 5 to 10, as this
; was already an issue in our implementation
StartLimitBurst=10
; and at the same time also increase the number of failed attempts
; interval window from 10 seconds to 30 second
StartLimitInterval=30
; make sure the service is always restarted
Restart=always
; the rest of the service settings are good, as-is
Type=notify
EnvironmentFile=-/etc/sysconfig/rsyslog
ExecStart=/usr/sbin/rsyslogd -n $SYSLOGD_OPTIONS
Restart=on-failure
UMask=0066
StandardOutput=null
; Increase the default a bit in order to allow many simultaneous
; files to be monitored, we might need a lot of fds.
LimitNOFILE=16384
; A maximum time for the service to run - this is important
RuntimeMaxSec=1d

[Install]
WantedBy=multi-user.target
;Alias=syslog.service
