#jinja2: trim_blocks:True, lstrip_blocks:True
#
# Host settings.
#
Host {% for jumphost in ssh_client_settings_for_external_stack['ssh_client_jumphosts'] %}{{ jumphost['alias'] }}* {% endfor +%}
    #
    # Prevent timeouts
    #
    ServerAliveInterval 60
    ServerAliveCountMax 5
    #
    # We use public-private key pairs for authentication.
    # Do not use password based authentication as fallback,
    # which may be confusing and won't work anyway.
    #
    PasswordAuthentication No
    #
    # Multiplex connections to
    #   * reduce lag when logging in to the same host in a second terminal
    #   * reduce the amount of connections that are made to prevent excessive DNS lookups
    #     and to prevent getting blocked by a firewall, because it thinks we are executing a DoS attack.
    #
    # Name/location of sockets for connection multiplexing are configured using the ControlPath directive.
    # In the ControlPath directive %C expands to a hashed value of %l_%h_%p_%r, where:
    #    %l = local hostname
    #    %h = remote hostname
    #    %p = remote port
    #    %r = remote username
    # This makes sure that the ControlPath is
    #   * a unique socket that is local to machine on which the sessions are created,
    #     which means it works with home dirs from a shared network file system.
    #     (as sockets cannot be shared by servers.)
    #   * not getting to long as the hash has a fixed size not matter how long %l_%h_%p_%r was.
    #
    ControlMaster auto
    ControlPath ~/.ssh/tmp/%C
    ControlPersist 1m
#
# Expand short jumphost names to FQDN or IP address.
#
{% for jumphost in ssh_client_settings_for_external_stack['ssh_client_jumphosts'] %}
Host {{ jumphost['alias'] }}
    HostName {{ jumphost['hostname'] }}
    HostKeyAlias {{ jumphost['alias'] }}
{% endfor %}
#
# Double-hop SSH settings to connect via specific jumphosts.
#
Host {% for jumphost in ssh_client_settings_for_external_stack['ssh_client_jumphosts'] %}{{ jumphost['alias'] }}+* {% endfor +%}
    ProxyCommand ssh -x -q $(echo "${JUMPHOST_USER:-%r}")@$(echo %h | sed 's/+[^+]*$//') -W $(echo %h | sed 's/^[^+]*+//'):%p
