certifi==2023.11.17
chardet==4.0.0
charset-normalizer==2.0.12
click==8.0.4
click-shell==2.0
contextlib2==21.6.0
idna==3.6
importlib-metadata==4.8.3
packaging==21.3
pulp-cli==0.21.4
pulp-glue==0.21.4
Pygments==2.10.0
pyparsing==3.1.1
PyYAML==6.0.1
requests==2.27.1
schema==0.7.5
toml==0.10.2
typing-extensions==4.1.1
urllib3==1.26.18
zipp==3.6.0