certifi==2022.12.7
chardet==4.0.0
charset-normalizer==2.0.9
click==8.0.3
click-shell==2.0
contextlib2==21.6.0
idna==3.3
importlib-metadata==4.8.3
packaging==21.3
pulp-cli==0.13.0
Pygments==2.10.0
pyparsing==3.0.6
PyYAML==5.4.1
requests==2.26.0
schema==0.7.5
toml==0.10.2
typing-extensions==4.0.1
urllib3==1.26.7
zipp==3.6.0