# Install  MariaDB.
---
- name: Make MariaDB/MySQL settings volume.
  file:
    path: "{{ item }}"
    state: directory
    mode: '0750'
    owner: root
    group: root
  with_items:
      - '/lib/mysql'
      - '/etc/mysql'
      - '/etc/mysql/conf.d'
  become: true

- name: Yum install mariadb-server.
  yum:
    name:
      - mariadb-server
    state: latest
    update_cache: yes
  notify:
    - restart_mysql
  become: true

- name: Deploy MariaDB/MySQL galara.cnf on node if we have at least three nodes.
  template:
    src: files/galera.cnf
    dest: /srv/mariadb/etc/mysql/conf.d/galera.cnf
    mode: '0660'
    owner: root
    group: root
  notify:
    - restart_mysql
  when: "'databases' in group_names and groups['databases'] | length >= 3"
  become: true

- name: Deploy MariaDB/MySQL config file.
  copy:
    src: 'files/my.cnf'
    dest: '/etc/mysql/conf.d/my.cnf'
    mode: '0660'
    owner: root
    group: root
  notify:
    - restart_mysql
  become: true

# This command will fail when the root password was set previously
- name: Check if root password is set
  shell: >
    mysqladmin -u root status
  changed_when: false
  failed_when: false
  register: root_pwd_check

- name: Set root user password
  mysql_user:
    name: root
    host: "localhost"
    password: "{{ MYSQL_ROOT_PASSWORD }}"
    check_implicit_admin: true
    login_unix_socket: "/var/lib/mysql/mysql.sock"
    login_user: root
    login_password: ""
    state: present
  when: root_pwd_check.rc == 0

- name: Give the master node some time to initialize the MariaDB/MySQL cluster.
  command: bash -c "sleep 60"
  when: "'databases' in group_names and groups['databases'] \
         | length >= 3"

- name: Give the MariaDB/MySQL cluster some time to initialize replication.
  command: bash -c "sleep 60 && systemctl daemon-reload"
  when: "'databases' in group_names and groups['databases'] | length >= 3"
  become: true
