DEVICE="{{ item.device }}"
BOOTPROTO="{{ item.bootproto | default('dhcp') }}"
IPADDR="{{ item.ipaddr | default('0.0.0.0') }}"
NETMASK="{{ item.netmask | default('255.255.255.0') }}"
GATEWAY="{{ item.gateway | default('0.0.0.0') }}"
ONBOOT="{{ item.onboot | default('yes') }}"
TYPE="{{ item.type|default('Ethernet') }}"
USERCTL="{{ item.userctl | default('no') }}"
PEERDNS="{{ item.peerdns | default('yes') }}"
IPV6INIT="{{ item.ipv6init | default('no') }}"
PERSISTENT_DHCLIENT="{{ item.persistent_dhclient | default('1') }}"
