[Unit]
Description=OpenLDAP service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull osixia/openldap:1.5.0
ExecStart=/usr/bin/docker run --rm -i --name %n --network host \
    --volume /srv/openldap/slapd.d:/etc/ldap/slapd.d \
    --volume /srv/openldap/ldap:/var/lib/ldap \
    --volume /srv/openldap/custom:/container/service/slapd/assets/config/bootstrap/ldif/custom \
    --volume /etc/pki/tls/private/:/container/service/slapd/assets/certs \
    --env LDAP_DOMAIN={{ ldap_domain }} \
    --env LDAP_ADMIN_PASSWORD={{ bindpw }} \
    --env LDAP_BASE_DN={{ ldap_base }} \
    --env LDAP_TLS_CRT_FILENAME=ldap.crt \
    --env LDAP_TLS_KEY_FILENAME=ldap.key \
    --env LDAP_TLS_CA_CRT_FILENAME=ldap.crt \
    --env LDAP_TLS_VERIFY_CLIENT=never \
    --hostname {{ ansible_hostname }} \
    osixia/openldap:1.5.0 \
    --loglevel error --copy-service

[Install]
WantedBy=multi-user.target
