---
slurm_cluster_name: 'talos'
slurm_cluster_domain: 'hpc.rug.nl'
stack_prefix: 'tl'
mailhub: '172.23.34.34'
rewrite_domain: "{{ stack_prefix }}-sai.{{ slurm_cluster_domain }}"
motd: "It's highly addictive"
vcompute_hostnames: "{{ stack_prefix }}-vcompute[01-03]"
vcompute_sockets: 4
vcompute_cores_per_socket: 1
vcompute_real_memory: 7822
vcompute_max_cpus_per_node: "{{ vcompute_sockets * vcompute_cores_per_socket - 2 }}"
vcompute_max_mem_per_node: "{{ vcompute_real_memory - vcompute_sockets * vcompute_cores_per_socket * 512 }}"
vcompute_local_disk: 0
vcompute_features: 'tmp08'
vcompute_ethernet_interfaces:
  - 'eth0'
  - 'eth1'
ui_hostnames: "{{ slurm_cluster_name }}"
ui_sockets: 4
ui_cores_per_socket: 1
ui_real_memory: 7822
ui_local_disk: 0
ui_features: 'prm08,tmp08'
ui_ethernet_interfaces:
  - 'eth0'
  - 'eth1'
ssh_host_signer_ca_private_key: "{{ ssh_host_signer_ca_keypair_dir }}/umcg-hpc-development-ca"
uri_ldap: 172.23.40.249
uri_ldaps: comanage-in.id.rug.nl
ldap_port: 389
ldaps_port: 636
ldap_base: ou=umcg,o=asds
ldap_binddn: cn=clusteradminumcg,o=asds
nameservers: [
  '/gcc-storage001.stor.hpc.local/172.23.40.244',  # Local DNS lookups for shared storage.
  '8.8.4.4',  # Google DNS.
  '8.8.8.8',  # Google DNS.
]
local_admin_groups:
  - 'admin'
  - 'docker'
local_admin_users:
  - 'egon'
  - 'gerben'
  - 'henkjan'
  - 'marieke'
  - 'morris'
  - 'pieter'
  - 'wim'
envsync_user: 'umcg-envsync'
envsync_group: 'umcg-depad'
pfs_mounts: [
  { pfs: 'umcgst11',
    source: 'gcc-storage001.stor.hpc.local:/ifs/rekencluster/umcgst11',
    type: 'nfs4',
    rw_options: 'defaults,_netdev,vers=4.0,noatime,nodiratime',
    ro_options: 'defaults,_netdev,vers=4.0,noatime,nodiratime,ro' },
]
lfs_mounts: [
  { lfs: 'home',
    pfs: 'umcgst11' },
  { lfs: 'groups/GROUP/tmp08',
    pfs: 'umcgst11',
    groups: ['umcg-atd', 'umcg-gcc'] },
  { lfs: 'groups/GROUP/prm08',
    pfs: 'umcgst11',
    groups: ['umcg-atd', 'umcg-gcc'] },
  { lfs: 'env08',
    pfs: 'umcgst11',
    machines: "{{ groups['compute-vm'] + groups['user-interface'] }}" },
]
...