---
slurm_cluster_name: 'talos'
slurm_cluster_domain: 'hpc.rug.nl'
stack_prefix: 'tl'
slurm_version: '18.08.8-1.el7.umcg'
mailhub: '172.23.34.34'
rewrite_domain: "{{ stack_prefix }}-sai{% if slurm_cluster_domain | length %}.{{ slurm_cluster_domain }}{% endif %}"
motd: |
      !!! WARNING: This cluster is in beta testing
          and may be redeployed from scratch, which
          may result in complete data loss starting
          on 09:00 on the following EOS Fridays:
          ###################################
          # Date                 EOS        #
          ###################################
          # Friday 2019-09-06    Sprint 142 #
          # Friday 2019-10-18    Sprint 144 #
          # Friday 2019-11-08    Sprint 146 #
          # Friday 2019-11-29    Sprint 148 #
          # Friday 2019-12-20    Sprint 150 #
          ###################################
          You have been warned!!!
vcompute_hostnames: "{{ stack_prefix }}-vcompute[01-03]"
vcompute_sockets: 4
vcompute_cores_per_socket: 1
vcompute_real_memory: 7821
vcompute_max_cpus_per_node: "{{ vcompute_sockets * vcompute_cores_per_socket - 2 }}"
vcompute_max_mem_per_node: "{{ vcompute_real_memory - vcompute_sockets * vcompute_cores_per_socket * 512 }}"
vcompute_local_disk: 0
vcompute_features: 'tmp08'
vcompute_ethernet_interfaces:
  - 'eth0'
  - 'eth1'
ui_hostnames: "{{ slurm_cluster_name }}"
ui_sockets: 4
ui_cores_per_socket: 1
ui_real_memory: 7821
ui_local_disk: 0
ui_features: 'prm08,tmp08'
ui_ethernet_interfaces:
  - 'eth0'
  - 'eth1'
ssh_host_signer_ca_private_key: "{{ ssh_host_signer_ca_keypair_dir }}/umcg-hpc-development-ca"
use_ldap: yes
create_ldap: no
uri_ldap: 172.23.40.249
uri_ldaps: comanage-in.id.rug.nl
ldap_port: 389
ldaps_port: 636
ldap_base: ou=umcg,o=asds
ldap_binddn: cn=clusteradminumcg,o=asds
nameservers: [
  '/gcc-storage001.stor.hpc.local/172.23.40.244',  # Local DNS lookups for shared storage.
  '8.8.4.4',  # Google DNS.
  '8.8.8.8',  # Google DNS.
]
local_admin_groups:
  - 'admin'
  - 'docker'
local_admin_users:
  - 'egon'
  - 'gerben'
  - 'henkjan'
  - 'kim'
  - 'marieke'
  - 'morris'
  - 'pieter'
  - 'wim'
envsync_user: 'umcg-envsync'
envsync_group: 'umcg-depad'
hpc_env_prefix: '/apps'
regular_groups:
  - 'umcg-atd'
  - 'umcg-depad'
  - 'umcg-gcc'
regular_users:
  - user: 'umcg-atd-ateambot'
    groups: ['umcg-atd']
    sudoers: '%umcg-atd'
  - user: 'umcg-atd-dm'
    groups: ['umcg-atd']
    sudoers: '%umcg-atd'
  - user: 'umcg-gcc-dm'
    groups: ['umcg-gcc']
    sudoers: '%umcg-gcc'
pfs_mounts: [
  { pfs: 'umcgst11',
    source: 'gcc-storage001.stor.hpc.local:/ifs/rekencluster/umcgst11',
    type: 'nfs4',
    rw_options: 'defaults,_netdev,vers=4.0,noatime,nodiratime',
    ro_options: 'defaults,_netdev,vers=4.0,noatime,nodiratime,ro' },
]
lfs_mounts: [
  { lfs: 'home',
    pfs: 'umcgst11' },
  { lfs: 'groups/GROUP/tmp08',
    pfs: 'umcgst11',
    groups: ['umcg-atd', 'umcg-gcc'] },
  { lfs: 'groups/GROUP/prm08',
    pfs: 'umcgst11',
    groups: ['umcg-atd', 'umcg-gcc'] },
  { lfs: 'env08',
    pfs: 'umcgst11',
    machines: "{{ groups['compute-vm'] + groups['user-interface'] }}" },
]
...