[Unit]
Description=Mariadb Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker kill %n || /bin/true
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull mariadb:10.2
ExecStart=/usr/bin/docker run --name %n \
 --network host \
 -v /srv/mariadb/lib/mysql:/var/lib/mysql \
 -v /srv/mariadb/etc/mysql/conf.d:/etc/mysql/conf.d \
 -e MYSQL_ROOT_PASSWORD={{ MYSQL_ROOT_PASSWORD }} mariadb:10.2 {{ mariadb_args }}

[Install]
WantedBy=multi-user.target
