{
		"irods_client_server_negotiation": "off",
		"irods_client_server_policy": "CS_NEG_REFUSE",
		"irods_cwd": "/admin/rods",
		"irods_default_hash_scheme": "SHA256",
		"irods_default_resource": "demoResc",
		"irods_encryption_algorithm": "AES-256-CBC",
		"irods_encryption_key_size": 32,
		"irods_encryption_salt_size": 8,
		"irods_encryption_num_hash_rounds": 16,
		"irods_home": "/admin/rods",
		"irods_match_hash_policy": "compatible",
		"irods_host": "{{ irods_db_server }}",
		"irods_port": 1247,
		"irods_user_name": "{{ irods_service_account }}",
		"irods_zone_name": "{{ irods_zone }}",
    "irods_ssl_certificate_chain_file": "/etc/irods/{{ irods_ssl_certificate_chain_file }}",
    "irods_ssl_certificate_key_file": "/etc/irods/{{ irods_ssl_certificate_key_file }}",
    "irods_ssl_dh_params_file": "/etc/irods/{{ irods_ssl_dh_params_file }}"

	}
