#jinja2: trim_blocks:True, lstrip_blocks: True
---
ip_addresses:
{% for server_info in relevant_servers_info
                      | sort(attribute='name') %}
  {{ server_info['name'] }}:
  {% for network_id in server_info.addresses
                       | default([])
                       | sort %}
    {% set public_floating_ip = false %}
    {% for floating_ip in server_info['addresses'][network_id]
                          | selectattr('OS-EXT-IPS:type', 'equalto', 'floating') %}
      {% set floating_network_id = api_fip_info.floating_ips
                                   | selectattr('floating_ip_address', 'equalto', floating_ip['addr'])
                                   | map(attribute='floating_network_id')
                                   | first %}
    {{ api_network_info['networks'] | selectattr('id', 'equalto', floating_network_id) | map(attribute='name') | first }}:
      address: {{ floating_ip['addr'] }}
      netmask: /32
      {% if floating_ip['addr'] is ansible.utils.public %}
        {% set public_floating_ip = true %}
        {% set dns_a_record = lookup('community.general.dig', floating_ip['addr'] + '/PTR')
                            | regex_replace('\.$', '') %}
        {% if dns_a_record == 'NXDOMAIN' %}
          {% set fqdn = dns_a_record %}
        {% elif stack_domain is defined and stack_domain | length >= 1 and stack_domain in dns_a_record %}
          {% set fqdn = dns_a_record %}
        {% else %}
          {% set fqdn = 'WARNING: Check manually for DNS CNAME records a.k.a. aliases: we cannot reverse lookup an alias automagically.' %}
        {% endif %}
      fqdn: '{{ fqdn }}'
      {% endif %}
    {% endfor %}
    {% for fixed_ip in server_info.addresses[network_id]
                       | selectattr('OS-EXT-IPS:type', 'equalto', 'fixed') %}
    {{ network_id }}:
      address: {{ fixed_ip['addr'] }}
      netmask: /32
      {% if public_floating_ip is true %}
      publicly_exposed: true  # This internal IP is linked to a public (floating) IP.
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endfor %}
{% for stack_network in stack_networks
   | selectattr('router', 'defined')
   | sort(attribute='name') %}
  {#
   # Unfortunately, we can only use the router name to lookup the info for the router.
   # The internal VLAN for which the router is used is not listed in the api_router_info var
   # and the IP used in that internal VLAN may not be unique as it can be used in multiple VLANs
   # used in the same or even in other stacks.
   # Therefore we default to using
   #    'Router bridging ' + stack_network['router']['external_network'] + ' and ' + stack_network['name']
   # which is used by the openstack_networking role when we create routers ourselves.
   # If the router was created by an external cloud admin instead,
   # then the stack_network must have a stack_network['router']['name'] attribute with the correct name.
   #}
  {% set router_name = stack_network['router']['name'] | default('Router bridging ' + stack_network['router']['external_network'] + ' and ' + stack_network['name']) %}
  {{ stack_network['name'] }}-{{ stack_network['router']['external_network'] }}-router:
    {{ stack_network['name'] }}:
      address: {{ stack_network['router']['next-hop-address'] }}
      netmask: /32
    {% if api_router_info['routers']
          | selectattr('name', 'equalto', router_name)
          | map(attribute='external_gateway_info')
          | map(attribute='external_fixed_ips')
          | first
       is defined %}
    {{ stack_network['router']['external_network'] }}:
      address: {{ api_router_info['routers']
                  | selectattr('name', 'equalto', router_name)
                  | map(attribute='external_gateway_info')
                  | map(attribute='external_fixed_ips')
                  | first
                  | map(attribute='ip_address')
                  | first }}
      netmask: /32
      fqdn: 'NXDOMAIN'
    {% else %}
      {{ api_router_info['routers']
          | selectattr('name', 'equalto', router_name)
          | first
          | mandatory('Cannot find router named ' + router_name + '. See code & comment in group_vars/template/ip_addresses_openstack.yml.j2 for details.') }}
    {% endif %}
{% endfor %}
...
