#jinja2: trim_blocks:True, lstrip_blocks: True
---
ssh_client_jumphosts:
{% for jumphost in groups['jumphost'] | default([]) %}
  {% set network_id = ip_addresses[jumphost]
           | dict2items
           | json_query('[?value.fqdn].key')
           | first -%}
  {% if ip_addresses[jumphost][network_id]['fqdn'] == 'NXDOMAIN' %}
    {% set ssh_hostname = ip_addresses[jumphost][network_id]['address'] %}
  {% else %}
    {% set ssh_hostname = ip_addresses[jumphost][network_id]['fqdn'] %}
  {% endif %}
  - alias: {{ jumphost }}
    hostname: {{ ssh_hostname }}
{% endfor %}

ssh_client_known_hosts: "\
  @cert-authority \
  {% for jumphost in groups['jumphost'] | default([]) %}
  {{ jumphost }}*,\
    {% for network_id in ip_addresses[jumphost] %}
      {% if ip_addresses[jumphost][network_id]['fqdn'] is defined and
            ip_addresses[jumphost][network_id]['fqdn'] == 'NXDOMAIN' %}
  {{ ip_addresses[jumphost][network_id]['address'] }},\
      {% endif %}
    {% endfor %}
  {% endfor %}
  {% for dthost in groups['data_transfer'] | default([]) %}
  *{{ dthost }}*,\
    {% for network_id in ip_addresses[dthost] %}
      {% if ip_addresses[dthost][network_id]['fqdn'] is defined and
            ip_addresses[dthost][network_id]['fqdn'] == 'NXDOMAIN' %}
  {{ ip_addresses[dthost][network_id]['address'] }},\
      {% endif %}
    {% endfor %}
  {% endfor %}
  {% for adminhost in groups['administration'] | default([]) %}
  *{{ adminhost }},\
  {% endfor %}
  {% for dochost in groups['docs'] | default([]) %}
  *{{ dochost }},\
  {% endfor %}
  {% for logshost in groups['logs'] | default([]) %}
  *{{ logshost }},\
  {% endfor %}
  *{{ stack_prefix }}-* \
  {{ lookup('file', ssh_host_signer_ca_private_key + '.pub') }}"
...
