[Unit]
Description=Restating rsyslog.service 15min after boot and every 224 hours
Requires=rsyslog.service rsyslog-restart.service

[Timer]
; after boot wait for 15min before start the time for the first time 
OnBootSec=15min
; timer can be executed anytime
OnCalendar=* *-*-* *:*:*
; execute the timer every 24 hours
OnUnitActiveSec=24hour
; command to be executed
Unit=rsyslog-restart.service

[Install]
WantedBy=multi-user.target
