[Unit]
Description=EGA Fuse Layer

[Service]
TimeoutStartSec=0

ExecStart=/apps/software/AdoptOpenJDK/8u222b10-hotspot/bin/java \
-Xmx4g \
-jar /usr/local/fuse-layer/ega-fuse-1.0-SNAPSHOT.jar \
-f /usr/local/fuse-layer/config.ini \
-m "{{ fuse_mountpoint }}" \
-u "{{ fuse_user }}" \
-p "{{ fuse_password }}"

[Install]
WantedBy=multi-user.target
