---
#
# Important: maintain correct handler order.
# Handlers are executed in the order in which they are defined 
# and not in the order in whch they are listed in a "notify: handler_name" statement!
#
- name: Restart services and their dependencies.
  service:
    name: "{{item}}"
    state: restarted
  with_items:
    - httpd
  become: yes
  listen: restart_httpd

- name: (Re)build webpages.
  shell: |
         cd /root/mkdocs
         umask 0022
         mkdocs build
  become: yes
  listen: build_mkdocs
...