[Unit]
Description=Slurm database daemon
After=munge.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
# Run daemon in the forground. systemd and docker do the daemonizing,
ExecStart=/usr/bin/docker run --network host --rm --name %n \
          --volume /srv/slurm/volumes/etc/slurm:/etc/slurm \
          --volumes-from munge.service \
          hpc/slurm /usr/sbin/slurmdbd -D

[Install]
WantedBy=multi-user.target
